# Austin Monte - Likes Report - 9/12/2024
## I am using my personal Instagram data, downloaded from Instagram's data collection over the last several years of my Instagram account.
## This data was created by keeping records of the posts and stories that I liked on instagram since the accounts creation.
## This data is reliable because it is data that has been tracked and recorded from Meta, the company that runs Instagram. There is no third party that was keeping records of my data
## However, this data can be unreliable because I've had this account for several years, and my interests and what I like on instagram has changed throughout the last 5 years. This data may not be an accurate representation of what I am currently following.

In [1]:
import json
import pandas as pd

In [2]:
path = "/Users/austinmonte/Documents/2024 FALL SEMESTER/DATA IN EMAT/social media data/insta/instagram-saucetin93-2024-08-29-fxG8wAf6/your_instagram_activity/likes/liked_posts.json"
with open(path) as j:
    mess = json.load(j)

In [3]:
mess.keys()

dict_keys(['likes_media_likes'])

In [10]:
mess_df = pd.DataFrame(mess['likes_media_likes'])
mess_df.head()

             title                                   string_list_data
0     sportscenter  [{'href': 'https://www.instagram.com/reel/C_Ml...
1     the.jo.shmos  [{'href': 'https://www.instagram.com/p/C_JtWXv...
2     ccikentstate  [{'href': 'https://www.instagram.com/reel/C_JX...
3  imfromcleveland  [{'href': 'https://www.instagram.com/p/C_BJqam...
4   kentstfootball  [{'href': 'https://www.instagram.com/p/C_IfS85...

In [16]:
mess_df['string_list_data']

0       [{'href': 'https://www.instagram.com/reel/C_Ml...
1       [{'href': 'https://www.instagram.com/p/C_JtWXv...
2       [{'href': 'https://www.instagram.com/reel/C_JX...
3       [{'href': 'https://www.instagram.com/p/C_BJqam...
4       [{'href': 'https://www.instagram.com/p/C_IfS85...
                              ...
3778    [{'href': 'https://www.instagram.com/p/BzEz350...
3779    [{'href': 'https://www.instagram.com/p/Bx3lrHu...
3780    [{'href': 'https://www.instagram.com/p/BxqBZDl...
3781    [{'href': 'https://www.instagram.com/p/Bv2s-an...
3782    [{'href': 'https://www.instagram.com/p/Bly0682...
Name: string_list_data, Length: 3783, dtype: object

In [17]:
mess_df['string_list_data'].iloc[0]

[{'href': 'https://www.instagram.com/reel/C_Ml35MxJZm/',
  'value': 'รฐ\x9f\x91\x8d',
  'timestamp': 1724882248}]

In [20]:
mess_df['string_list_data'].iloc[0][0]

{'href': 'https://www.instagram.com/reel/C_Ml35MxJZm/',
 'value': 'รฐ\x9f\x91\x8d',
 'timestamp': 1724882248}

In [21]:
mess_df['string_list_data'].iloc[0][0]['timestamp']

1724882248

In [34]:
mess_df['liketime'] = [x[0]['timestamp'] for x in mess_df['string_list_data']]

In [36]:
mess_df.head()

,title,string_list_data,timestamp
0,sportscenter,[{'href': 'https://www.instagram.com/reel/C_Ml...,1724882248
1,the.jo.shmos,[{'href': 'https://www.instagram.com/p/C_JtWXv...,1724720721
2,ccikentstate,[{'href': 'https://www.instagram.com/reel/C_JX...,1724706756
3,imfromcleveland,[{'href': 'https://www.instagram.com/p/C_BJqam...,1724675754
4,kentstfootball,[{'href': 'https://www.instagram.com/p/C_IfS85...,1724675051

In [47]:
mess_df.groupby('title').count().sort_values('timestamp', ascending = False)

                   string_list_data  timestamp
title
sportscenter                    258        258
barstoolkent                    228        228
houseofhighlights               179        179
nyjets                          134        134
bleacherreport                   91         91
...                             ...        ...
hypewhip                          1          1
houseofheat                       1          1
hoopsalerts                       1          1
hoopgrid                          1          1
kentinterhall                     1          1

[661 rows x 2 columns]

### I hypothesize that I can track the topics of most interest on Instagram.

In [62]:
path = "/Users/austinmonte/Documents/2024 FALL SEMESTER/DATA IN EMAT/social media data/insta/instagram-saucetin93-2024-08-29-fxG8wAf6/ads_information/ads_and_topics/posts_viewed.json"
with open(path) as j:
    mess2 = json.load(j)

In [63]:
mess2.keys()

dict_keys(['impressions_history_posts_seen'])

In [66]:
mess2_df = pd.DataFrame(mess2['impressions_history_posts_seen'])
mess2_df.head()

                                     string_map_data
0  {'Author': {'value': 'csikent'}, 'Time': {'tim...
1  {'Author': {'value': 'kentstate'}, 'Time': {'t...
2  {'Author': {'value': 'sony'}, 'Time': {'timest...
3  {'Author': {'value': '_theblessedone'}, 'Time'...
4  {'Author': {'value': 'ballstatembb'}, 'Time': ...

In [72]:
mess2_df['liketime'] = [x for x in mess2_df['string_map_data']]

In [73]:
mess2_df.head

<bound method NDFrame.head of                                        string_map_data  \
0    {'Author': {'value': 'csikent'}, 'Time': {'tim...
1    {'Author': {'value': 'kentstate'}, 'Time': {'t...
2    {'Author': {'value': 'sony'}, 'Time': {'timest...
3    {'Author': {'value': '_theblessedone'}, 'Time'...
4    {'Author': {'value': 'ballstatembb'}, 'Time': ...
..                                                 ...
647  {'Author': {'value': 'adamschefter'}, 'Time': ...
648  {'Author': {'value': '_livsharp'}, 'Time': {'t...
649  {'Author': {'value': 'mookiebean'}, 'Time': {'...
650  {'Author': {'value': 'bleacherreport'}, 'Time'...
651  {'Author': {'value': 'espn'}, 'Time': {'timest...

                                              liketime
0    {'Author': {'value': 'csikent'}, 'Time': {'tim...
1    {'Author': {'value': 'kentstate'}, 'Time': {'t...
2    {'Author': {'value': 'sony'}, 'Time': {'timest...
3    {'Author': {'value': '_theblessedone'}, 'Time'...
4    {'Author': {'value': 'ballstatembb'}, 'Time': ...
..                                                 ...
647  {'Author': {'value': 'adamschefter'}, 'Time': ...
648  {'Author': {'value': '_livsharp'}, 'Time': {'t...
649  {'Author': {'value': 'mookiebean'}, 'Time': {'...
650  {'Author': {'value': 'bleacherreport'}, 'Time'...
651  {'Author': {'value': 'espn'}, 'Time': {'timest...

[652 rows x 2 columns]>

## The file I used tracks posts viewed, rather that posts liked. This data is definitely broader and more diverse than the previous data, which is why i believe the data is not easy to be "tidied up", using the tidy function. I also could not sort the data by most "interested", so I was unable to complete my hypothesis.