# AUSTIN MONTE - FINAL PROJECT

## Using the data from 13 games of Mario Superstar Baseball played with my roommate to determine who is the best character

### The game records all of this data at the conclusion of each match played, so I recorded all of the data from each character of each game and averaged them out. The data used in this project is the average for each character used in all 13 games.

### The data is structured into several categories, Draft Pick, batting average, Hits, RBIs, HRs, Special hits, Stolen bases, Pitching ERA, Strikeouts (K), and Big Plays. MVPS I took the total of since theres only 1 MVP per game.

### For offensive stats, I want to look through batting average, hits, and homeruns. For defensive, big plays and ERA (if applicable). An ideal character is very good offensively and has at least some utility on defense, or vise versa. Theres not many "balanced" characters in the game that are good, usually these polarizing stats characters are best, and since you draft a team of 9, you can balance your team out of offensive and defensive powerhouses.

In [42]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from scipy import stats
import statsmodels.formula.api as smf

In [43]:
ces = pd.read_csv('mbb_chara_stats.csv')
ces.head(15)

,Character,Draft Pick,BAT AVG,Hits,RBI,HR,SPECIAL,SB,ERA,K,BIG PLAYS,TOTAL MVPS,# OF GAMES PLAYED
0,Birdo,0.53,0.459,2.08,0.046,0.00,2.230,0.00,NaN,0.00,1.62,1,13
1,Bowser,0.53,0.433,1.85,2.380,1.15,0.000,0.00,26.51,0.00,0.38,3,13
2,Petey,1.08,0.358,1.69,2.150,1.00,0.000,0.00,0.00,0.00,0.03,4,13
3,DK,1.92,0.281,1.31,1.000,0.46,0.080,0.00,NaN,0.00,0.31,0,13
4,Yoshi,2.77,0.576,2.77,1.080,0.00,2.230,0.08,NaN,0.00,1.23,1,13
5,Boo,2.92,0.397,1.92,0.690,0.00,0.000,0.15,11.41,1.46,0.15,1,13
6,Bro,4.69,0.335,1.47,0.850,0.54,0.000,0.00,NaN,0.00,0.31,0,13
7,Wario,6.38,0.259,1.15,0.920,0.23,0.080,0.00,NaN,0.00,0.08,1,13
8,KBOO,6.85,0.273,1.08,0.850,0.23,0.000,0.00,8.35,1.00,0.08,0,13
9,WaluigI,7.62,0.396,1.77,0.380,0.00,0.460,0.00,7.39,1.80,0.08,0,13
10,Diddy,8.62,0.365,1.62,0.380,0.00,1.080,0.08,NaN,0.00,0.77,0,13
11,Magic,9.23,0.322,1.46,0.380,0.08,0.031,0.00,NaN,0.00,0.85,0,13
12,Paratroo,12.46,0.297,1.23,0.310,0.00,0.230,0.00,NaN,0.00,0.23,0,13

In [44]:
ces.shape

(13, 13)

In [45]:
ces.columns

Index(['Character', 'Draft Pick', 'BAT AVG', 'Hits', 'RBI', 'HR', 'SPECIAL',
       'SB', 'ERA', 'K', 'BIG PLAYS', 'TOTAL MVPS', '# OF GAMES PLAYED'],
      dtype='object')

In [46]:
ces['Hits'].value_counts()

Hits
2.08    1
1.85    1
1.69    1
1.31    1
2.77    1
1.92    1
1.47    1
1.15    1
1.08    1
1.77    1
1.62    1
1.46    1
1.23    1
Name: count, dtype: int64

In [47]:
ces_hits = ces.replace({'Hits': {1: 'Birdo', 2: 'Bowser', 3: 'Petey', 4: 'DK', 5: 'Yoshi', 6: 'Boo', 7: 'Wario', 8: 'KingBoo', 9: 'Waluigi', 10: 'Diddy', 11: 'Magic', 12: 'Paratroopa'}})['Hits']
ces_hits

0     2.08
1     1.85
2     1.69
3     1.31
4     2.77
5     1.92
6     1.47
7     1.15
8     1.08
9     1.77
10    1.62
11    1.46
12    1.23
Name: Hits, dtype: float64

In [50]:
fig1, ax1 = plt.subplots()
ax1.bar(['Birdo', 'Bowser', 'Petey', 'DK', 'Yoshi', 'Boo', 'Wario', 'KingBoo', 'Waluigi', 'Diddy', 'Magic', 'Paratroopa'] ces['Hits'])
plt.show(15)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (170083481.py, line 2)

In [49]:
hit_desc = stats.describe(ces['Hits'])
hit_desc.minmax

(1.08, 2.77)

In [ ]:
fig2, ax2 = plt.subplots()
ax2.bar(['Birdo', 'Bowser', 'Petey', 'DK', 'Yoshi', 'Boo', 'Wario', 'KingBoo', 'Waluigi', 'Diddy', 'Magic', 'Paratroopa'] ces['BAT AVG'])
plt.show(15)

In [ ]:
fig3, ax3 = plt.subplots()
ax3.bar(['Birdo', 'Bowser', 'Petey', 'DK', 'Yoshi', 'Boo', 'Wario', 'KingBoo', 'Waluigi', 'Diddy', 'Magic', 'Paratroopa'] ces['HR'])
plt.show(15)

In [ ]:
fig4, ax4 = plt.subplots()
ax4.bar(['Birdo', 'Bowser', 'Petey', 'DK', 'Yoshi', 'Boo', 'Wario', 'KingBoo', 'Waluigi', 'Diddy', 'Magic', 'Paratroopa'] ces['BIG PLAYS'])
plt.show(15)